<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <style></style>

    <title>Login</title>
  </head>

  <body>
    <div class="login-wrap">
      <div class="login-html">         
        <h1>Error.</h1>        
        <div class="hr"></div>
        
        <h3>On error page</h3>
        <h3>@Message@</h3>
        <div class="hr"></div>

        <div id="outer">
          <div class="inner">
          <a href="/Login" class="button-submit" >Login</a>
        </div>

        <div class="inner">
          <a href="/Query" class="button" >query</a>
        </div>
      </div>
    </div>
  </body>

</html>