<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <style></style>

    <title>Login</title>
  </head>

  <body>
    <div class="login-wrap">
      <div class="login-html">         
        <h2>You are authenticated.</h2>        
        <div class="hr"></div>
        
        <h3>Username : @username@</h3>
        <h3>Hosting : @host@</h3>
        <h3>Database : @database@</h3>
        
        <div class="hr"></div>

        <div id="outer">
          <div class="inner">
          <a href="/Logout" class="button-logout" >Logout</a>
        </div>

        <div class="inner">
          <a href="/Query" class="button" >query</a>
        </div>
      </div>
    </div>
  </body>

</html>