/* ------------------------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------------------------ */
body {
}

body,
p,
a,
div,
th,
td {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

td.code {
    font-size: 14px;
    font-family: "Source Code Pro", monospace;
    font-style: normal;
    font-weight: 400;
}

#content {
    padding-top: 16px;
}

p {
    color: #808080;
}

h1 {
    font-family: "Source Sans Pro Semibold", monospace, sans-serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}

h2 {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 20px 0;
    padding: 0;
}

section {
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
}

section h1 {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
    margin: 0 0 20px 0;
    padding: 0;
}

article {
    padding: 14px 0 30px 0;
}

article h1 {
    font-family: "Source Sans Pro Bold", monospace, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

article h2 {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 10px 0;
}

article h3 {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 10px 0;
}

article h4 {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 8px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    background-color: #f5f5f5;
    text-align: left;
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 700;
    padding: 4px 8px;
    border: #e0e0e0 1px solid;
}

td {
    vertical-align: top;
    padding: 2px 8px;
    border: #e0e0e0 1px solid;
}

#generator .content {
    color: #b0b0b0;
    border-top: 1px solid #ebebeb;
    padding: 10px 0;
}

.label-optional {
    float: right;
}

.open-left {
    right: 0;
    left: auto;
}

/* ------------------------------------------------------------------------------------------
 * apidoc - intro
 * ------------------------------------------------------------------------------------------ */

#apidoc .apidoc {
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
}

#apidoc h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
    margin: 0 0 20px 0;
    padding: 0;
}

#apidoc h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    padding-top: 14px;
}

.try-buttom {
    background-color: #2196f3;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    float: right;
    padding: 2px 10px;
}

.try-box {
    color: #fff;
}

.try-box > h2 {
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 20px;
    margin: 0 -20px 10px -20px;
}

/* ------------------------------------------------------------------------------------------
 * pre / code
 * ------------------------------------------------------------------------------------------ */
pre {
    background-color: #263238;
    color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    margin: 10px 0 20px 0;
}

code.language-text {
    word-wrap: break-word;
}

pre.language-json {
    overflow: auto;
}

pre.language-html {
    margin: 20px 0 20px 0;
}

pre.language-html:before {
    content: attr(data-type);
    position: absolute;
    top: -30px;
    left: 0;
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #3387cc;
    color: #ffffff;
}

pre.language-html[data-type="get"]:before {
    background-color: green;
}

pre.language-html[data-type="put"]:before {
    background-color: #e5c500;
}

pre.language-html[data-type="post"]:before {
    background-color: #4070ec;
}

pre.language-html[data-type="delete"]:before {
    background-color: #ed0039;
}

pre.language-html[data-type="infos"]:before {
    background-color: #ed00c5;
}

pre.language-api .str {
    color: #ffffff;
}

pre.language-api .pln,
pre.language-api .pun {
    color: #65b042;
}

pre code {
    display: block;
    font-size: 14px;
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    word-wrap: normal;
    white-space: pre;
}

pre code.sample-request-response-json {
    white-space: pre-wrap;
    max-height: 500px;
    overflow: auto;
}

/* ------------------------------------------------------------------------------------------
 * Sidenav
 * ------------------------------------------------------------------------------------------ */
.sidenav {
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    z-index: 10;
}

.sidenav > li > a {
    display: block;
    margin: 0;
    padding: 2px 11px;
    border: 0;
    border-left: transparent 4px solid;
    border-right: transparent 4px solid;
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.sidenav > li.nav-header > a {
    padding: 5px 15px;
    border: 1px solid #e5e5e5;
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffffff;
}

.sidenav > li.nav-header.active > a {
    background-color: #0088cc;
    color: white;
}

.sidenav > .active > a {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}

.sidenav > li > a:hover {
    background-color: #ffffff;
}

.sidenav > li.active > a {
    background-color: #0088cc;
    color: white;
}

.sidenav > li.has-modifications a {
    border-right: #60d060 4px solid;
}

.sidenav > li.is-new a {
    border-left: #e5e5e5 4px solid;
}

/* ------------------------------------------------------------------------------------------
 * Compare
 * ------------------------------------------------------------------------------------------ */

ins {
    background: #60d060;
    text-decoration: none;
    color: #000000;
}

del {
    background: #f05050;
    color: #000000;
}

.label-ins {
    background-color: #60d060;
}

.label-del {
    background-color: #f05050;
    text-decoration: line-through;
}

pre.ins {
    background-color: #60d060;
}

pre.del {
    background-color: #f05050;
    text-decoration: line-through;
}

table.ins th,
table.ins td {
    background-color: #60d060;
}

table.del th,
table.del td {
    background-color: #f05050;
    text-decoration: line-through;
}

tr.ins td {
    background-color: #60d060;
}

tr.del td {
    background-color: #f05050;
    text-decoration: line-through;
}

/* ------------------------------------------------------------------------------------------
 * Spinner
 * ------------------------------------------------------------------------------------------ */

#loader {
    position: absolute;
    width: 100%;
}

#loader p {
    padding-top: 80px;
    margin-left: -4px;
}

.spinner {
    margin: 200px auto;
    width: 60px;
    height: 60px;
    position: relative;
}

.container1 > div,
.container2 > div,
.container3 > div {
    width: 14px;
    height: 14px;
    background-color: #0088cc;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}
.circle2 {
    top: 0;
    right: 0;
}
.circle3 {
    right: 0;
    bottom: 0;
}
.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/* ------------------------------------------------------------------------------------------
 * Tabs
 * ------------------------------------------------------------------------------------------ */
ul.nav-tabs {
    margin: 0;
}

/* ------------------------------------------------------------------------------------------
 * Print
 * ------------------------------------------------------------------------------------------ */

@media print {
    #sidenav,
    #version,
    #versions,
    section .version,
    section .versions {
        display: none;
    }

    #content {
        margin-left: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:after {
        content: " [" attr(href) "] ";
    }

    p {
        color: #000000;
    }

    pre {
        background-color: #ffffff;
        color: #000000;
        padding: 10px;
        border: #808080 1px solid;
        border-radius: 6px;
        position: relative;
        margin: 10px 0 20px 0;
    }
}

@media print {
    .hide-print {
        display: none;
    }
}

.full-pre {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 15px;
    border-radius: 5px;
    padding-bottom: 7px;
}

.full-pre .typ {
    font-size: 11px;
    font-weight: 600;
    min-width: 80px;
    padding: 6px 8px 4px 8px;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    color: #fff;
}

.pre-get .typ {
    background: #61affe;
    color: #fff;
}

.pre-post .typ {
    background: #059454;
    color: #fff;
}

.pre-delete .typ {
    background: #f05050;
    color: #fff;
}

.pre-patch .typ {
    background: #fca130;
    color: #fff;
}

.pre-infos .typ {
    background: #fc30ae;
    color: #fff;
}

.pre-get {
    background: #cad8e6;
    border: 1px dotted #61affe;
}

.pre-get .pln {
    color: black;
    font-weight: bold;
}

.pre-post {
    background: #aee4cb;
    border: 1px dotted #086e40;
}

.pre-post .pln {
    color: black;
    font-weight: bold;
}

.pre-patch {
    background: #f7dbba;
    border: 1px dotted #fca130;
}

.pre-patch .pln {
    color: black;
    font-weight: bold;
}

.pre-delete {
    background: #f7b2b2;
    border: 1px dotted #f93e3e;
}
.pre-delete .pln {
    color: black;
    font-weight: bold;
}
.pre-options {
    background: rgba(13, 90, 167, 0.1);
    border: 1px dotted #0d5aa7;
}

.pre-infos {
    background: #f7b2e8;
    border: 1px dotted #f93e4e;
}
.pre-infos .pln {
    color: black;
    font-weight: bold;
}

.im-get {
    padding: 1px 0px 1px 1px;
    font-family: "Arial", monospace, sans-serif;
    font-size: 11px;
    background: #61affe;
    color: #fff;
}

.im-post {
    padding: 1px 0px 1px 1px;
    font-family: "Arial", monospace, sans-serif;
    font-size: 11px;
    background: #059454;
    color: #fff;
}

.im-patch {
    padding: 1px 0px 1px 1px;
    font-family: "Arial", monospace, sans-serif;
    font-size: 11px;
    background: #fca130;
    color: #fff;
}

.im-delete {
    padding: 1px 0px 1px 1px;
    font-family: "Arial", monospace, sans-serif;
    font-size: 11px;
    background: #f93e3e;
    color: #fff;
}

.im-infos {
    padding: 1px 0px 1px 1px;
    font-family: "Arial", monospace, sans-serif;
    font-size: 11px;
    background: #f93ebb;
    color: #fff;
}

.introduction p {
    font-family: "Source Sans Pro", monospace, sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #2196f3;
}
.text p {
    text-align: justify;
}

.table > thead > tr > th {
    border-bottom-color: #8bd6d8;
}
.table td:nth-child(1) {
    min-width: 20%;
}
.table td:nth-child(2) {
    min-width: 20%;
}
.table strong {
    color: #9a9a9a;
}
.body-blue .table > thead > tr > th {
    border-bottom-color: #b5e1f7;
}
.table-bordered > thead > tr > th {
    border-bottom-color: inherit;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.error-table > thead > tr > th {
    border-bottom-color: #8bd6d8;
}
.error-table td:nth-child(1) {
    min-width: 15%;
}
.error-table td:nth-child(2) {
    min-width: 85%;
}
.error-table strong {
    color: #9a9a9a;
}
.error-body-blue .table > thead > tr > th {
    border-bottom-color: #b5e1f7;
}
.error-table-bordered > thead > tr > th {
    border-bottom-color: inherit;
}
.error-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
